body {
  font-family: "Calibri", "Segoe UI", sans-serif;
  background-color: #FFFDFD;
  place-items: center;
  text-align: center;
  align-items: center;
}

h1 {
  color: rgb(24, 24, 24);
}

p {
  color: rgb(65, 65, 65);
}

a {
   text-decoration: none;
}

#main_nav {
   width: 50%;
   height: 1%;
   text-align: center;
   align-items: center;
   background-color: white;
   font-size: 1rem;
   display: grid;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%); /* center the fixed nav */
   padding-top: 1rem;
   z-index: 1000; /* optional: ensure it's above slides */
}


.main_nav_item {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   color: #5f6368;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   height: 2rem;
}


.trigger {
  height: 100vh;
}

.slides {
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  height: 100vh;

  margin: 4vh auto;
  right: 0;
}

.step {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20px);

  width: 85%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.step.active {
  opacity: 1;
  transform: translate(-50%, 0);
}





#main_grid_container{
   display: grid;
   background-color: white;
   border: 5px solid gray;
   margin: 2rem;
   margin-top: 1rem;
   height: 45rem;
   width: 95%;
   grid-template-columns: 10% 80% 10%;
   font-family: 'Poppins', sans-serif;
   border-radius: 10px;
}

.div_three_rows {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
}

.div_two_rows {
   display: grid;
}

.div_three_columns {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.div_two_columns {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   box-sizing: border-box;
}

#region_selection {
   display: grid;
   grid-template-rows: 5% 95%;
   place-items: center;
   border-right: 1px solid gray;
}

#map_section {
   background-color: transparent;
}

#map {
   width: 100%;
   height:100%
}

.tooltip {
   position: absolute;
   background-color: white;
   padding: 5px 10px;
   border: 1px solid black;
   border-radius: 4px;
   pointer-events: none;
   opacity: 0;
}

.unselected_region {
   fill: white;
   fill-opacity: "1";
   stroke-width: "0.5";
   stroke: #868585;
}

.selected_region {
   fill: rgb(133, 172, 250);
   stroke-width: "10px";
   stroke: black
}

#data_section {
   background-color: transparent;
   display: grid;
   grid-template-rows: 5% 95%;
}

#nav_bar {
   place-items: center;
}

.nav_option {
   text-align: center;
   font-size: 1rem ;
   font-weight: bold;
   color: #01968e;
}

#data_profile {
   place-items: center;
}

.non_display {
   display: none !important;
}

.display_element {
   display: block;
}

#total_caes_granted {
   display: grid;
   grid-template-rows: 15% 85%;
   place-items: center;
   text-align: center;
}

#total_borrowed {
   display: grid;
   grid-template-rows: 15% 70% 15%;
   place-items: center;
   text-align: center;
}

.summary_total_borrowed {
   font-weight: bold;
}

#dots_total_borrowed {
   border: solid 0.5px lightgray;
}

#avg_student {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical centering */
    align-items: center;       /* horizontal centering */
    height: 100%;              /* needed for vertical centering */
    gap: 0rem;                 /* optional spacing between blocks */
}

#avg_loan {
   display: flex;
   flex-direction: row;
   justify-content: center;   /* vertical centering */
   align-items: center;
   text-align: center;       /* horizontal centering */
   height: 100%;
   width: 100%;              /* needed for vertical centering */
   gap: 4rem;             
}

.text_avg_loan { 
   font-size: 50px;
   font-weight: bold;
   padding: 0;
   margin: 0;
}

#grad_rates_div {
   place-items: center;
   place-content: center;
   text-align: center;
}

#filters {
   display: grid;
   grid-template-rows: 50% 35% 15%;
   border-left: 1px solid gray;
}

.filter_title {
   text-align: center;
   font-size: 0.8rem ;
   font-weight: bold;
   color: black
}

.filter_instruction {
   text-align: center;
   font-size: 0.6rem ;
   margin: 0.1rem;
   color: rgb(72, 72, 72)
}

.filter_square{
   border-radius: 0rem;
}

#year_selection {
   display: grid;
   place-items: center;
   display: grid;
   grid-template-rows: 15% 85%;
   border-bottom: 1px solid gray;
}

#years_options {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(10, 1fr);
   margin: 1px;
   place-items: center;
}

.button_year {
   border: solid gray;
   border-radius: 5px;
   font-size: 0.7rem;
   padding: 0.5rem;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
   text-align: center;
   margin: 0.1rem;
   margin-left: 0.3rem;
   margin-right: 0.3rem;


}

.unselected_year {
   background-color: transparent;
}

.selected_year {
   background-color: rgb(250, 121, 121);
   color: white;
   font-weight: bold;
}

#quintile_selection {
   display: grid;
   grid-template-rows: 15% 85%;
   border-bottom: 1px solid gray;
   place-items: center;
}


#quintile_pyramid .unselected_quintile {
  fill: #f3f3f3;
  stroke: #666;
  stroke-width: 1;
}

#quintile_pyramid rect.selected_quintile {
  fill: #6cb1ff;        /* active color */
  stroke: #2b6fb2;
}

#quintile_pyramid .text_quintile {
  fill: black;
  font-size: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#gender_selection {
   display: grid;
   border: 0px solid black;
   place-items: center;
   display: grid;
   grid-template-rows: 15% 85%;
   margin-top: 10px;
}

#gender_buttons {
   color: black;
   height: 100%;
   width: 100%;
}

.female_button_unselected {
   fill: transparent;
   stroke: #000;
   stroke-width: 0.5px
}

.male_button_unselected {
   fill: transparent;
   stroke:#000;
   stroke-width: 0.5px
}

.female_button_selected {
   fill: #ed7c5cff;
   stroke: #000;
   stroke-width: 1.5px
}

.male_button_selected {
   fill: #4b9ea8ff;
   stroke:#000;
   stroke-width: 1.5px
}


.person {
      font-size: 32px; /* Tamaño de los íconos */
      color: #555555;
    }