body {
  background-color: lightgray;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#main_grid_container{
   display: grid;
   background-color: transparent;
   grid-template-columns: 15% 85%;
   border: 3px solid black;
   margin: 1%;
   padding: 0.5%;
   height: 700px;
}

.div_three_rows {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   border: 6px solid yellow;
}

.div_three_columns {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   border: 6px solid yellow;
}

.div_two_columns {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   border: 6px solid yellow;
}

#map_section {
   background-color: transparent;
   border: 3px solid red;
   margin: 1%;
   padding: 1%;
}

#data_section {
   background-color: transparent;
   border: 3px solid blue;
   margin: 1%;
   padding: 1%;
}

#map {
   height:670px
}

.unselected_region {
   fill: white;
   fill-opacity: "1";
   stroke-width: "0.5";
   stroke: #868585;
}

.selected_region {
   fill: rgb(133, 172, 250);
   stroke-width: "10px";
   stroke: black
}

#year_selection {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(4, 1fr);
   border: solid black;
   margin: 10px;
   place-items: center;
}

.unselected_year {
   margin: 1px;
   border: solid black;
}

.selected_year {
   margin: 1px;
   border: solid black;
   background-color: lightcoral
}

#quintile_pyramid polygon.unselected_quintile {
  fill: #f3f3f3;
  stroke: #666;
  stroke-width: 1;
}

#quintile_pyramid polygon.selected_quintile {
  fill: #4a90e2;        /* active color */
  stroke: #2b6fb2;
}

#quintile_pyramid .text_quintile {
  fill: black;
  font-family: sans-serif;
  font-size: 14px;
}

#gender_buttons {
   width:300px;
   height:200px;
}

.female_button_unselected {
   fill: rgb(248, 200, 187);
   stroke: #000;
   stroke-width: 2px
}

.male_button_unselected {
   fill: rgb(183, 221, 226);
   stroke:#000;
   stroke-width: 2px
}

.female_button_selected {
   fill: #ed7c5cff;
   stroke: #000;
   stroke-width: 2px
}

.male_button_selected {
   fill: #4b9ea8ff;
   stroke:#000;
   stroke-width: 2px
}