body {
  background-color: lightgray;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#main_grid_container{
   display: grid;
   background-color: transparent;
   grid-template-columns: 1fr 6fr;
   border: 3px solid black;
   margin: 1%;
   padding: 0.5%;
   height: 700px

}

.main_grid_item {
   display: grid;
   background-color: transparent;
   border: 3px solid blue;
   margin: 1%;
   padding: 1%;

}

.main_grid_item_map {
   display: grid;
   background-color: transparent;
   width: 250px;
   height: 800;
   border: 3px solid blue;
   margin: 1%;
   padding: 1%;

}