body {
  background-color: lightgray;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#main_grid_container{
   display: grid;
   background-color: transparent;
   grid-template-columns: 15% 85%;
   border: 3px solid black;
   margin: 1%;
   padding: 0.5%;
   height: 700px;
}

.div_three_rows {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   border: 6px solid yellow;
}

.div_three_columns {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   border: 6px solid yellow;
}

.div_two_columns {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   border: 6px solid yellow;
}

#map_section {
   background-color: transparent;
   border: 3px solid red;
   margin: 1%;
   padding: 1%;
}

#data_section {
   background-color: transparent;
   border: 3px solid blue;
   margin: 1%;
   padding: 1%;
}

#map {
   height:670px
}

.unselected_region {
   fill: white;
   fill-opacity: "1";
   stroke-width: "0.5";
   stroke: #868585;
}

.selected_region {
   fill: rgb(133, 172, 250);
   stroke-width: "10px";
   stroke: black
}