body {
  background-color: lightgray;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#main_grid_container{
   display: grid;
   background-color: transparent;
   grid-template-columns: 25% 75%;
   border: 3px solid black;
   margin: 1%;
   padding: 0.5%;
   height: 700px;
}

#map_section {
   display: grid;
   background-color: transparent;
   border: 3px solid yellow;
   margin: 1%;
   padding: 1%;
}

#data_section {
   display: grid;
   background-color: transparent;
   border: 3px solid blue;
   margin: 1%;
   padding: 1%;
}

.map {
   height: 600px;
   width:100px
}