body {
  background-color: lightgray;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#main_grid_container{
   display: grid;
   background-color: transparent;
   grid-template-columns: 30% 70%;
   border: 3px solid black;
   margin: 1%;
   padding: 0.5%;
   height: 700px

}
#map_section {
   display: grid;
   background-color: transparent;
   height: 800;
   border: 3px solid brown;
   margin: 1%;
   padding: 1%;
}

#data_section {
   display: grid;
   background-color: transparent;
   height: 800;
   border: 3px solid blue;
   margin: 1%;
   padding: 1%;
}

.trying {
   display: grid;
   background-color: transparent;
   height: 800;
   border: 3px solid yellow;
   margin: 1%;
   padding: 1%;
}