body {
  background-color: rgb(246, 246, 246);
  font-family: "Calibri", "Segoe UI", sans-serif;
}

h1 {
  color: rgb(24, 24, 24);
}

p {
  color: rgb(65, 65, 65);
}

#main_grid_container{
   display: grid;
   background-color: transparent;
   border: 10px solid gray;
   margin: 2rem;
   height: 45rem;
   grid-template-columns: 10% 80% 10%;
}

.div_three_rows {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   height: 90vh;
}

.div_two_rows {
   display: grid;
}


.div_three_columns {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   border-bottom: 1px solid green;
}

.div_two_columns {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   border-bottom: 1px solid yellow;
}

#region_selection {
   display: grid;
   grid-template-rows: 5% 95%;
   place-items: center;
   border-right: 1px solid black;
}

#map_section {
   background-color: transparent;
}

#map {
   width: 100%;
   height:100%
}

.tooltip {
   position: absolute;
   background-color: white;
   padding: 5px 10px;
   border: 1px solid black;
   border-radius: 4px;
   pointer-events: none;
   opacity: 0;
}

.unselected_region {
   fill: white;
   fill-opacity: "1";
   stroke-width: "0.5";
   stroke: #868585;
}

.selected_region {
   fill: rgb(133, 172, 250);
   stroke-width: "10px";
   stroke: black
}

#data_section {
   background-color: transparent;
   border-left: 1px solid black;
   display: grid;
   grid-template-rows: 5% 95%;
}

#nav_bar {
   place-items: center;
}

.nav_option {
   text-align: center;
   font-size: 1rem ;
}

#data_profile {
   place-items: center;
}

.non_display {
   display: none;
}

.display_element {
   display: block;
}

#total_caes_granted {
   display: grid;
   grid-template-rows: 15% 85%;
   place-items: center;
   text-align: center;
}

#total_borrowed {
   display: grid;
   grid-template-rows: 15% 70% 15%;
   place-items: center;
   text-align: center;
}

.summary_total_borrowed {
   font-weight: bold;
}

#circle_money {
   height: 10rem;
   width: 10rem;
   fill: #bbcbb4;
   stroke: black
}
.number_circle {
    fill: black;      /* Text color */
    font-size: 20000;  /* Adjust relative to your viewBox */
    text-anchor: middle; /* Center horizontally */
    dominant-baseline: middle; /* Center vertically */
}

#filters {
   display: grid;
   grid-template-rows: 42.5% 42.5% 15%;
   border-left: 1px solid black;
}

.filter_title {
   text-align: center;
   font-size: 0.8rem ;
   font-weight: bold;
}

.filter_square{
   border-radius: 0rem;
}

#year_selection {
   display: grid;
   place-items: center;
   display: grid;
   grid-template-rows: 15% 85%;
   border-bottom: 1px solid black;
}

#years_options {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(10, 1fr);
   margin: 1px;
   place-items: center;
}

.button_year {
   border: solid black;
   border-radius: 5px;
   font-size: 0.7rem;
   padding: 0.5rem;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
   text-align: center;
   margin: 0.1rem;
   margin-left: 0.3rem;
   margin-right: 0.3rem;


}

.unselected_year {
   background-color: transparent;
}

.selected_year {
   background-color: rgb(250, 121, 121);
   color: white;
   font-weight: bold;
}

#quintile_selection {
   display: grid;
   grid-template-rows: 15% 85%;
   border-bottom: 1px solid black;
   place-items: center;
}


#quintile_pyramid polygon.unselected_quintile {
  fill: #f3f3f3;
  stroke: #666;
  stroke-width: 1;
}

#quintile_pyramid polygon.selected_quintile {
  fill: #6cb1ff;        /* active color */
  stroke: #2b6fb2;
}

#quintile_pyramid .text_quintile {
  fill: black;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

#gender_selection {
   display: grid;
   border: 0px solid black;
   place-items: center;
   display: grid;
   grid-template-rows: 15% 85%;
}

#gender_buttons {
   color: black;
   height: 100%;
   width: 100%;
}

.female_button_unselected {
   fill: transparent;
   stroke: #000;
   stroke-width: 0.5px
}

.male_button_unselected {
   fill: transparent;
   stroke:#000;
   stroke-width: 0.5px
}

.female_button_selected {
   fill: #ed7c5cff;
   stroke: #000;
   stroke-width: 1.5px
}

.male_button_selected {
   fill: #4b9ea8ff;
   stroke:#000;
   stroke-width: 1.5px
}