body {
  background-color: lightgray;
}
h1 {
  color: blue;
}
p {
  color: red;
}

#main_viz{
   display: grid;
   background-color: white;
   grid-template-columns: 2fr 6fr;
   border: 3px solid black;
   margin: 3%;
   padding: 5%;

}